<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

 
  <connectionStrings>
        <remove name="LocalSqlServer" />
    <add name="COREDBConnectionString" connectionString="Data Source=DESKTOP-PQSTI48;Initial Catalog=CoreDB;User ID=SA;Password=note9080" providerName="System.Data.SqlClient" />

     <!--  <add name="COREDBConnectionString" connectionString="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9D66CD_imcmaster;User Id=DB_9D66CD_imcmaster_admin;Password=ykn90809080;"  providerName="System.Data.SqlClient" />
  <add name="COREDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DatabaseName;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

    <add name="COREDBConnectionString" connectionString="Data Source=SQL5004.Smarterasp.net;Initial Catalog=DB_9D66CD_imcmaster;User Id=DB_9D66CD_imcmaster_admin;Password=ykn90809080;"  providerName="System.Data.SqlClient" />
   
    <add name="COREDBConnectionString" connectionString="Data Source=db.imcmaster.xyz;Initial Catalog=dbykn9080;User ID=ykn9080;Password=Ykn9080()*)" providerName="System.Data.SqlClient" />
    <add name="COREDBConnectionString" connectionString="Data Source=imcmaster.co.kr;Initial Catalog=CoreDB;User ID=SA;Password=web9080()*)" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
  <system.web>
    <!--
    <globalization culture="ko-KR" uiCulture="ko-KR" />
    -->
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime maxRequestLength="2048000" executionTimeout="6000" requestValidationMode="2.0" maxUrlLength="10999" maxQueryStringLength="2097151" />

    <pages controlRenderingCompatibilityVersion="3.5" styleSheetTheme="Default" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
      <add name="JSONPModule" type="JsonpHttpModule, App_Code" />
    </httpModules>
    <httpHandlers>
      <add path="*.trace" verb="*" type="IMCTraceHandler" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <identity impersonate="true" />

    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
       <!--<add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" cookieless="UseCookies" loginUrl="Login2.aspx" defaultUrl="default.aspx" protection="All" timeout="300">
        <credentials passwordFormat="Clear">
        </credentials>
      </forms>
    </authentication>



    <roleManager enabled="true" cacheRolesInCookie="false" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" defaultProvider="AspNetSqlRoleProvider" createPersistentCookie="false" maxCachedResults="25">
      <providers>
        <clear />
        <add connectionStringName="COREDBConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="COREDBConnectionString" />
     </providers>
    </membership>
    <authorization>
      <deny users="?" />
    </authorization>
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1" />
   
    <customErrors mode="Off" defaultRedirect="~/errors/ErrorPage.htm">
      <error statusCode="403" redirect="~/errors/NoAccess.htm" />
      <error statusCode="404" redirect="~/errors/FileNotFound.htm" />
    </customErrors>
    <urlMappings enabled="true">

    </urlMappings>
    <trust level="Full" originUrl=".*" />
    <!--RadEditor firefox방지용-->
  </system.web>
  <!-- This section gives the unauthenticated user access to all of the files that are stored in the Subdir1 folder.  -->
  <system.webServer>
   
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" />
                <fileExtensions allowUnlisted="true">
                    <remove fileExtension=".master" />
                    <remove fileExtension=".asax" />
                    <remove fileExtension=".ascx" />
                    <add fileExtension=".ascx" allowed="true" />
                    <add fileExtension=".master" allowed="true" />
                </fileExtensions>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<staticContent>
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".m4v" mimeType="video/mp4"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
      <mimeMap fileExtension=".ogg" mimeType="video/ogg"/>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
    </staticContent>-->
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <modules>
      <add name="JSONPModule" type="JsonpHttpModule, App_Code" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <remove name="ChartImageHandler" />
      <add name="ScriptHandlerFactory"
           verb="*" path="*.asmx"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           resourceType="Unspecified" />
      <add name="IMCTraceHandler" verb="*" path="*.trace" type="IMCTraceHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>

    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>  

  <location path="menuedit.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="default3.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="webservice.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
 
  <location path="RadControls">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="TelerikControls">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="JS/swfupload/ImageProcess.aspx">
    <system.web>
      <httpRuntime maxRequestLength="204800" executionTimeout="6000" />
    </system.web>
  </location>
  <location path="_Upload/FileProcess.aspx">
    <system.web>
      <httpRuntime maxRequestLength="409600" executionTimeout="6000" />
    </system.web>
  </location>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="enableSimpleMembership" value="false" />
      <add key="autoFormsAuthentication" value="false" />
      <add key="authUrl" value="/accesserror.aspx" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
      <add key="Telerik.WebControls.RadControlsDir" value="/NET2/RadControls/" />
      <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;" />
      <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
        <add key="webPages:Version" value="2.0.0.0" />
      </appSettings>
        <system.webServer>
            <defaultDocument>
                <files>
                    <clear />
                    <add value="default.aspx" />
                    <add value="Default.htm" />
                    <add value="Default.asp" />
                    <add value="index.htm" />
                    <add value="index.html" />
                    <add value="iisstart.htm" />
                </files>
            </defaultDocument>
        </system.webServer>
  </location>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.0.0" newVersion="0.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>